<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <!-- Basic Alerts start -->
    <button type="button" class="btn btn-outline-primary" (click)="activarFormulario(frmSQL)">
      Modal
    </button>
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-md-6 col-xl-3">
              <div class="card mb-3" (click)='irA("redes", "comunicaciones")'>
                <img class="card-img-top" src="../../../assets/images/servidores.png" alt="Card image cap" />
                <div class="card-body">
                  <h4 class="card-title" align="center">SERVIDORES</h4>
                  <p class="card-text">
                    Se puede referir a la ausencia de riesgo o a la confianza en algo o en alguien.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-xl-3">
              <div class="card mb-3" (click)='irA("redes", "conexiones")'>
                <img class="card-img-top" src="../../../assets/images/conexiones.png" alt="Card image cap" />
                <div class="card-body">
                  <h4 class="card-title" align="center">CONEXIONES</h4>
                  <p class="card-text">
                    Se puede referir a la ausencia de riesgo o a la confianza en algo o en alguien.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-xl-3">
              <div class="card mb-3" (click)='irA("herramienta", "api")'>
                <img class="card-img-top" src="../../../assets/images/apirest.png" alt="Card image cap" />
                <div class="card-body">
                  <h4 class="card-title" align="center">API REST</h4>
                  <p class="card-text">
                    Se puede referir a la ausencia de riesgo o a la confianza en algo o en alguien.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-xl-3">
              <div class="card mb-3" (click)='irA("seguridad", "roles")'>
                <img class="card-img-top" src="../../../assets/images/seguridad.png" alt="Card image cap" />
                <div class="card-body">
                  <h4 class="card-title" align="center">SEGURIDAD</h4>
                  <p class="card-text">
                    Se puede referir a la ausencia de riesgo o a la confianza en algo o en alguien.
                  </p>
                </div>
              </div>
            </div>

          </div>
    </div>
        <div class="col-12">
          <div class="card">
            
            <section id="card-images">
              <div class="row">
                
                <div class="container" align="center">
                <hr>
                <h1 class="card-title">INTEGRACIONES</h1>
                <hr>
                <div class="col-12">
                  <div class="row">
                    <div class="col-md-6 col-xl-2">
                        <img class="media" height="64" width="64" src="../../../assets/images/integraciones/mongodb.png" alt="Card image cap" />
                    </div>

                    <div class="col-md-6 col-xl-2">
                      <img class="media" height="64" width="64" src="../../../assets/images/integraciones/mysql.png" alt="Card image cap" />
                  </div>

                  <div class="col-md-6 col-xl-2">
                    <img class="media" height="64" width="64" src="../../../assets/images/integraciones/postgres.png" alt="Card image cap" />
                </div>

                <div class="col-md-6 col-xl-2">
                  <img class="media" height="64" width="64" src="../../../assets/images/integraciones/oracle.jpeg" alt="Card image cap" />
              </div>

              <div class="col-md-6 col-xl-2">
                <img class="media" height="64" width="64" src="../../../assets/images/integraciones/sqlserver.png" alt="Card image cap" />
            </div>

            <div class="col-md-6 col-xl-2">
              <img class="media" height="64" width="64" src="../../../assets/images/integraciones/rethink.png" alt="Card image cap" />
          </div>
                    </div>
                    </div>
                </div>
                
                
              </div>
              <br>
            </section>

          </div>
        </div>
      </div>
    <!-- Basic Alerts end -->
  </div>
</div>



<ng-template #frmSQL let-modal>
  <div class="modal-body">

      <mat-tab-group mat-stretch-tabs class="example-stretched-tabs"  >
          <mat-tab>
              <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">source</mat-icon>
              &nbsp;Laboratorio de pruebas
              </ng-template>
              <div class="container">
                  <br>
                  <form #form="ngForm">
                      <div class="row">
                          <div class="col-md-12" id="divParametro">
                              <div class="form-group">
                                  <label>Parametros</label>
                                  <input style="font-size:11px;" type="text" class="form-control"  
                                  [ngModelOptions]="{standalone: true}" 
                                  [(ngModel)]="xparametro" value ="{{xparametro}}">
                              </div>
                          </div>
                          <div class="col-md-12" id="divValores">
                              <div class="form-group">
                                  <label>Valores</label>
                                  <ngx-codemirror
                                  [ngModelOptions]="{standalone: true}" 
                                  [(ngModel)]="valores"
                                  (ngModelChange)="setEditorContent($event)"
                                  (blur)="seleccionEditor($event)"
                                  [options]="codeMOEsquemaJson"
                                  ></ngx-codemirror>
                              </div>
                          </div>
                          
                          <div class="col-md-12">
                              <div class="input-group mb-3">
                                  <input style="font-size:14px;" type="text" 
                                      class="form-control" [ngModelOptions]="{standalone: true}" 
                                      [(ngModel)]="xentorno"  value ="{{xentorno}}" readonly>
                                  <div class="input-group-prepend">
                                      <button type="button" class="btn btn-success" 
                                          (click)="ejecutarApi()"><i class="fa fa-play"></i>
                                      </button>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-12">
                              <div class="form-group">
                                  <label>Resultado</label>
                                  <div style="width:100%; height:150px; overflow: scroll;">
                                      <div id="xrs" style="font-size:11px; width: 100%; height: 150px;"></div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </form>
              </div>
          </mat-tab>
          <mat-tab>
              <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">code</mat-icon>
              &nbsp;Fragmento de Código
              </ng-template>
              <div class="container">
                  <br>
                  <div class="col-md-12">
                      <label>Ejemplo de ejecución:</label>
                      <div class="form-group text-justify">
                          <textarea class="form-control" rows="18" 
                          [ngModelOptions]="{standalone: true}" [(ngModel)]="codeTypeJs"  value ="{{codeTypeJs}}"></textarea> 
                          <!-- <ngx-codemirror
                              [ngModelOptions]="{standalone: true}" 
                              [(ngModel)]="codeTypeJs"
                              (ngModelChange)="setEditorContent($event)"
                              (blur)="seleccionEditor($event)"
                              [options]="codeJson">
                          </ngx-codemirror> -->
                      </div>
                  </div>
              </div>
          </mat-tab>  
      </mat-tab-group>
      
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-secondary float-right" (click)="modal.dismiss('Cross click')">Cancelar</button>
  </div>
</ng-template>   